/* created by @vertt_t */

* {
    margin: 0;
    padding: 0;
    font-family: Fira Code;
}

body {
    background-color: #ffc1c6;
}

/* box styling */

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-content {
    background: #202330;
    height: 440px;
    width: 400px;
    padding: 20px;
    margin-top: -4px;
}

.box-image img {
    width: 300px;
    height: 480px;
}

/** text styling **/
#sGreetings {
    color: #c4c19e;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}

.header-txt {
    margin: 10px;
    color: #ffc1c6;
}

span {
    color: #a39ec4;
}

.link {
    text-decoration: none;
    color: #c49ea0;
    font-size: 15px;
}
.link:hover {
    color: #a39ec4;
}

/* responsive */

@media only screen and (max-width: 950px) {
  .box-image img {
	width: 220px;
	height: 340px;
  }
  .box-content {
	width: 320px;
	height: 300px;
  }
  #sGreetings {
  margin-top: 10px;
  margin-bottom: 30px;
  }
  .header-txt {
	margin: 4px;
	font-size: 13px;
  }
  .link {
  font-size: 11px;
  }
}
